# Configuración del Proyecto MedSim
# Copia este archivo como '.env' y completa con tus claves

# --- BASE DE DATOS ---
# Si corres en LOCAL: localhost
# Si corres en DOCKER: host.docker.internal (si Mongo está fuera) o 'mongo' (si está en docker-compose)
MONGO_URL=mongodb://admin:secret@localhost:27017/medsim?authSource=admin
MONGO_USER=admin
MONGO_PASSWORD=secret

# --- LLM CONFIG (Paciente IA) ---
# Puedes usar Ollama (local), Gemini, OpenAI o Groq
# IMPORTANTE para Gemini: La URL DEBE terminar en '/'
PATIENT_LLM_URL=aistudio.google.com/api-keys
PATIENT_LLM_API_KEY=tu_api_key_de_google_ai_studio
PATIENT_LLM_MODEL=gemini-2.5-flash

# --- STT CONFIG (Audio a Texto) ---
# Ejemplo: Groq (Whisper v3)
STT_API_URL=https:console.groq.com/keys
STT_API_KEY=tu_api_key_aqui
STT_MODEL=whisper-large-v3

# --- TTS CONFIG (Texto a Audio) ---
# Ejemplo: Cartesia o ElevenLabs
TTS_API_URL=https:play.cartesia.ai/keys
TTS_API_KEY=tu_api_key_aqui
TTS_VOICE_ID=play.cartesia.ai/voices
TTS_MODEL_ID=sonic
TTS_LANGUAGE=es
TTS_SPEED=0.92
TTS_TEMPERATURE=0.35

# --- OPCIONES DE LA APP ---
# Para Docker usar: http://host.docker.internal:11434
OLLAMA_URL=http://localhost:11434
PORT=8001
DEBUG=True
